@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply h-6 cursor-pointer;
  }

  .heading {
    @apply text-2xl font-bold py-3;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .footer-container {
    @apply space-y-4  text-gray-700;
  }

  .btn {
    @apply flex-grow py-2 px-4 rounded-xl text-gray-700 border-2;
  }
}
